

.pop {
    background-color: #f2d1f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.65);
}

.pip {
    background-color: #ede4ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.65);
}

.plp {
    background-color: #fee3ec;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.65);
}

.op {
    background-color: #e4e8ff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;  
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.65);
}

.container {
    max-width: 1200px;
    margin: auto;
}


.stil {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.65);
    border-radius: 5%;
    max-height: 200px;
}

.form {
    display: block;
}

.top {
    
    padding: 0px;
    margin-bottom: 10px; 
    border-radius: 20px;
    display: flex;
}

.top h1 {
    text-align: center; /* Центрировал текст */
    padding: 0 ;
}

.io {
    padding: 5px 0px 15px 5px ;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    padding: 0 ;
    font-size: 30px;
}

.article p {
    margin-left: 10px;
    margin-top: 40px;
}

article {
    background-color: #d6b4eb;
    padding: 10px;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.65);  
}

a:hover {
    color: #d6b4eb;
    font-size: 120%;
}

.container {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 10px;
}

@media (max-width: 1200px) {
.container {
    width: 1000px; 
    grid-template-columns: 1fr 280px;
}
}

@media (max-width: 1000px) {
.article p {
    margin-top: 10px;
    margin-bottom: 8px;
    }
.container { 
        width: 768px;
        grid-template-columns: 1fr 250px; 
    }
}

@media (max-width: 768px) {
.article p {
        margin-top: 10px;
        margin-bottom: 7px;
    }
.container {
        width: 480px;
        grid-template-columns: 1fr;
/*         grid-template-rows: 100px;  */
    }   
}

@media (max-width: 480px) {
/* .article p { 
        margin-top: 10px;
        margin-bottom: 6px;     
    }
.container {
        width: 100%;
         grid-template-columns: 1fr; 
} 
 .article {
        max-height: 100px;
        position: absolute; 
        left: 50%; 
        top: 50%;
        transform: translate(-50%, -50%);
        width: 80%; 
        height: 80px;
} */ 
    .top {
    display: flex;
    flex-direction: column; /* Устанавливаем вертикальное направление */
    align-items: center; /* Центрируем элементы по горизонтали */
}

.stil {
    order: 1; /* Устанавливаем порядок для картинки */
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.65);
    border-radius: 5%;
    max-height: 200px;
}

.article {
    order: 2; /* Устанавливаем порядок для текста */
    background-color: #d6b4eb;
    padding: 10px;
    border-radius: 20px;
    margin-left: 30px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.65);
}
.article p {
    margin-left: 10px;
    margin-top: 40px;
}
}
